// Variables
@import './variables/colors.sass'
@import './variables/shadows.sass'
@import './variables/spacings.sass'

// Common
@import './common/scrollbar.sass'
@import './common/toastify.sass'
@import './common/floating.sass'
@import './common/tiptap.sass'
@import './common/helium.sass'
@import './common/nuxt.sass'

// Misc
@import './reset.sass'
@import './variables.sass'

// @import './reset.sass'
// @import './no-wind.sass'
// @import './tiptap-content.sass'
// @import url(https://fonts.bunny.net/css?family=inter:400,500,600|jetbrains-mono:400|poppins:400,500,600)
// @import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,1,0)

// Themes
// @import './themes/light.theme.sass'
// @import './themes/dark.theme.sass'



select
    color: var(--color-text)
    font-family: var(--font-text)
    font-size: inherit
    border: none
    background: var(--color-background-soft)
    border-radius: var(--radius-m)
    padding: 0 1rem
    height: 3rem
    cursor: pointer
    outline: none
    user-select: none